<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="Meet Aiden Craig @beatsbyaiden0">
    <meta name="keywords" content="@beatsbyaiden0 instagram twitter soundbrew facebook artist music blog publication">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="twitter:card" value="Meet Aiden Craig @beatsbyaiden0"> 

    <meta property="og:title" content="Meet Aiden Craig" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.conceptionuality.com/aiden-craig-sept-2020" />
    <meta property="og:image" content="https://www.conceptionuality.com/images/c-ico.ico" />
    <meta property="og:description" content="Meet Aiden Craig @beatsbyaiden0"/> 

    <link href="/stylesheets/style.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
     </style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="shortcut icon" href="/images/lyri/lyri.ico" />

    <title>Aiden Craig | Conceptuality</title>
  </head>
  <body>
    <div class="container">
        <header class="blog-header py-3">
          <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
              <a class="text-muted" href="/">Conceptuality</a>
            </div>
            <div class="col-4 text-center">
              <a class="blog-header-logo text-dark" href="#">Aiden Craig</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
            </div>
          </div>
        </header>
        <h1 class="text-center mt-0">Meet Aiden Craig</h1>
        <h5 class="text-center mt-0">August 2020</h5>
        <br>
        <p>Aiden Craig is a 19-year-old recording artist, audio engineer, and music producer. Born and
            raised in Massachusetts, he has been making music since the age of 15. Many projects have
            been in the works. He’s currently working on a self-produced album coming out later this year.</p>
        <br>
            <h5>How many beats do you produce on a weekly basis?</h5>
            <p>"At the moment I haven’t made
                many cause I’ve been stuck on beat lock and I’ve taken a short break on music. But on
                average around 2-5 beats when I’m in a consistent mood."</p>

            <h5>In the next five years, what are your goals?</h5>
            <p>"In the next 5 years my goals are to of be
                able to have at least 3 placements with major artists and to have worked with my favorite
                producer."</p>

            <h5>What software do you use?</h5>
            <p>"I make all my beats and record my songs through FL
                Studio 20."</p>
          
          <h5>When would you like to retire?</h5>
          <p>"I don’t think music will be something I ever stop doing
            even when I’m older."</p>

            <h5>Who is your favorite producer?</h5>
            <p>"My favorite producer is ouhboy."</p>

            <h5>Do you have any hobbies outside of music?</h5>    
            <p>"Yes I do, I do web design and currently
                learning app design."</p>

            <h5>Who do you look up to the most in your family?</h5>    
            <p>"My father"</p>

            <h5>What can we expect from your upcoming album?</h5>    
            <p>"All songs will be produced and
                engineered by me, this will be my first official album I’ve ever released."</p>

            <nav class="navbar navbar-light bg-light">
                <span class="navbar-text">
                    Conceptuality
                </span>
            </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>