<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Dominic Smith Lacuna Icy">
    <meta name="description" content="5 things to know about Atelo’s Music Video, JOSE @atelobeats">
    <meta name="keywords" content="@atelobeats instagram twitter soundbrew facebook artist music blog publication">

    <meta name="twitter:card" value="5 things to know about Atelo’s Music Video, JOSE @atelobeats"> 

    <meta property="og:title" content="5 things to know about Atelo’s Music Video, JOSE" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.conceptionuality.com/atelo-sept-2020" />
    <meta property="og:image" content="https://www.conceptionuality.com/images/atelo/atelo.ico" />
    <meta property="og:description" content="5 things to know about Ateleo’s Music Video, JOSE @atelobeats"/> 

    <link href="/stylesheets/style.css" rel="stylesheet">

    <link rel="shortcut icon" href="/images/atelo/atelo.ico" />

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
     </style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <title>Atelo | Conceptuality</title>
  </head>
  <body>
    <div class="container">
        <header class="blog-header py-3">
          <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
              <a class="text-muted" href="/">Conceptuality</a>
            </div>
            <div class="col-4 text-center">
              <a class="blog-header-logo text-dark" href="#">Atelo</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
            </div>
          </div>
        </header>
        <h1 class="text-center mt-0">5 Things to Know About Ateleo’s Music Video, JOSE</h1>
        <h5 class="text-center mt-0">August 2020 by Lacuna (@lacuna.pdf)</h5>

        <iframe class="center" width="300" height="250" src="https://www.youtube.com/embed/A2Mpb5FM52c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
        <p></p>
        <br>
        <h1>1.</h1>
        <blockquote class="blockquote">
        <p class="mb-0">Overall, the video is a depiction of what anxiety feels like due to concerns of becoming
            financial stable as a young adult.</p>
        </blockquote>

        <h1>2.</h1>
        <blockquote class="blockquote">
        <p class="mb-0">It may also be considered a “fever dream”. Throughout the whole video, Atelo has a
                conversation with a man (Jose) that has an outburst from concerns of getting arrested.</p>
        </blockquote>

        <h1>3.</h1>
        <blockquote class="blockquote">
        <p class="mb-0">The character “Jose” may be a projection of insecurities many individuals face as a result
            of millennials tackling adolescence.</p>
        </blockquote>

        <h1>4.</h1>
        <blockquote class="blockquote">
        <p class="mb-0">In addition, the music video covers the fear that many minorities have of being pulled
            over by a police officer. Racial tension is currently at an all-time high thanks to police
            brutality.</p>
        </blockquote>

        <h1>5.</h1>
        <blockquote class="blockquote">
        <p class="mb-0">Correspondingly, Atelo discusses F.O.M.O. (fear of missing out) and how it affects many
            teenagers.</p>
        </blockquote>

        <nav class="navbar navbar-light bg-light">
          <span class="navbar-text">
                Conceptuality
            </span>
        </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>