<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Dominic Smith Lacuna Icy">
    <meta name="description" content="From being on Wale’s “Festivus” Mixtape to now, Introducing Don Altae">
    <meta name="keywords" content="@DonAltae @1DonAltae instagram twitter soundbrew facebook artist music blog publication">

    <meta name="twitter:card" value="From being on Wale’s “Festivus” Mixtape to now, Introducing Don Altae"> 

    <meta property="og:title" content="From being on Wale’s “Festivus” Mixtape to now, Introducing Don Altae" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.conceptionuality.com/atelo-sept-2020" />
    <meta property="og:image" content="https://www.conceptionuality.com/images/atelo/atelo.ico" />
    <meta property="og:description" content="From being on Wale’s “Festivus” Mixtape to now, Introducing Don Altae"/> 

    <link href="/stylesheets/style.css" rel="stylesheet">

    <link rel="shortcut icon" href="/images/don-altae/don-altae.ico" />

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
     </style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <title>Don Altae | Conceptuality</title>
  </head>
  <body>
    <div class="container">
        <header class="blog-header py-3">
          <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
              <a class="text-muted" href="/">Conceptuality</a>
            </div>
            <div class="col-4 text-center">
              <a class="blog-header-logo text-dark" href="#">Don Altae</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
            </div>
          </div>
        </header>
        <h1 class="text-center mt-0">From being on Wale’s “Festivus” Mixtape to now, Introducing Don Altae</h1>
        <h5 class="text-center mt-0">September 4th, 2020 by Lacuna (<a href="https://www.instagram.com/lacuna.pdf" >@lacuna.pdf</a>)</h5>

        <iframe class="center" width="300" height="250" src="https://www.youtube.com/embed/Vx3_yjNnFXo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
        <p class="mb-0  lead">Get to know DMV Based R&B artist Don Altae Originally from Campbellsville, KY, Altae
            relocated to the DMV back in the mid 2000's to begin his music career. Previously known as
            Dino B.A.M, Altae is best known for his feature on DMV Rapper Wale's "Festivus" mixtape back
            in late 2014. Since then Altae has been on the rise. Watch out for him. Follow him IG:
            <a href="https://www.instagram.com/DonAltae" >@DonAltae</a> & Twitter: <a href="https://www.twitter.com/1DonAltae" >@1DonAltae</a></p>
        <br>
        <h4 >How did you meet Wale?</h4>
        <blockquote class="blockquote">
        <p class="mb-0 lead">I met him through super producer Tone P.... Tone discovered
            me on World Star Hip-Hop about 6 months before the Gifted album came out. We began
            working on placements together for the Gifted album. It wasn’t until a year later one of
            the hooks I layed down in that session, he heard and liked. The song was supposed to
            go on “The album about nothing” but he just ended up putting it on the festivus mixtape
            instead as number 5. Tonight (Suite 331)</p>
        </blockquote>

        <h4 >Do you have any regrets in life?</h4>
        <blockquote class="blockquote">
        <p class="mb-0 lead">No regrets... I’ve learned a lot from my mistakes.</p>
        </blockquote>

        <h4 >Where do you see yourself in the next five years?</h4>
        <blockquote class="blockquote">
        <p class="mb-0 lead">Touring the world doing shows.</p>
        </blockquote>

        <h4>Would you like to get signed?</h4>
        <blockquote class="blockquote">
        <p class="mb-0 lead">If the situation is right. I’m more so looking for a distribution
            deal or a partnership.</p>
        </blockquote>

        <h4>How long does it take you to record?</h4>
        <blockquote class="blockquote">
        <p class="mb-0 lead">It all depends on the song. Some songs take an
            hour, some a whole day.</p>
        </blockquote>

        <h4 >What are some of your goals?</h4>
        <blockquote class="blockquote">
        <p class="mb-0 lead">Some of my goals are to go on tour and do some
            collaborations with my idols such as Chris Brown for example.</p>
        </blockquote>

        <h4>What are your hobbies outside of music?</h4>
        <blockquote class="blockquote">
        <p class="mb-0 lead">Outside of music I enjoy spending time with my
            son, going out with my team and networking! I also rollerblade aggressive inline, since
            the pandemic I’ve been getting good but, I’ll let my fans judge that.</p>
        </blockquote>

        <h4>How long have you been an artist?</h4>
        <blockquote class="blockquote">
        <p class="mb-0 lead">I’ve been singing since the age 5. I started recording
            and releasing music at age 14. I just turned 28 August 14th.</p>
        </blockquote>

        <nav class="navbar navbar-light bg-light">
          <span class="navbar-text">
                Conceptuality
            </span>
        </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>