<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Dominic Smith Lacuna Icy">
    <meta name="description" content="Conceptuality, nothing less than conceptual">
    <meta name="keywords" content="Conceptuality instagram twitter soundbrew facebook artist music blog publication">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="twitter:card" value="Conceptuality, nothing less than conceptual"> 

    <meta property="og:title" content="Conceptuality, nothing less than conceptual" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.conceptionuality.com/aiden-craig-sept-2020" />
    <meta property="og:image" content="https://www.conceptionuality.com/images/c-ico.ico" />
    <meta property="og:description" content="Conceptuality, nothing less than conceptual" />     

    <link href="/stylesheets/style.css" rel="stylesheet">

    <link rel="shortcut icon" href="/images/c-ico.ico" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <meta name="theme-color" content="#563d7c">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">

    <title>Conceptuality</title>

  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-light bg-white">
        <span class="navbar-brand mb-0 h1">Conceptuality</span>
      </nav>
      <header class="blog-header py-3"></header>
        <nav class="navbar navbar-light bg-white">
        </nav>
      <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <h1 class="mt-0">From being on Wale’s “Festivus” Mixtape to now, Introducing Don Altae</h1>
        <p class="blog-post-meta">September 4th, 2020 by Lacuna (<a href="https://www.instagram.com/lacuna.pdf" >@lacuna.pdf</a>)</p>
        <p>Get to know DMV Based R&B artist Don Altae Originally from Campbellsville, KY, Altae
          relocated to the DMV back in the mid 2000's to begin his music career.</p>
          <p><a href="/don-altae-sept-2020">Continue Reading</a></p>
      </div>
    </div>
  </div>
    
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-4 mb-4 font-italic border-bottom">
            Latest
          </h3>

          <div class="blog-post">
            <h2 class="blog-post-title">Lyri</h2>
            <h4>Look out! There’s a New Lyricist in Town!</h4>
            <p class="blog-post-meta">September, 2020 by Lacuna (<a href="https://www.instagram.com/lacuna.pdf" >@lacuna.pdf</a>)</p>
            <a href="/lyri-sept-2020" >Continue Reading</a>
          </div><!-- /.blog-post -->
    
          <div class="blog-post">
            <h2 class="blog-post-title">ATELO</h2>
            <h4>5 Things to Know About Atelo's Music Video, JOSE</h4>
            <p class="blog-post-meta">August, 2020 by Lacuna (<a href="https://www.instagram.com/lacuna.pdf" >@lacuna.pdf</a>)</p>
            <a href="/atelo-sept-2020" >Continue Reading</a>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">AIDEN CRAIG</h2>
            <h4>Aiden Craig is a 19-year-old recording artist, audio engineer, and music producer. </h4>
            <p class="blog-post-meta">August, 2020 by Lacuna (<a href="https://www.instagram.com/lacuna.pdf" >@lacuna.pdf</a>)</p>
            <a href="/aiden-craig-sept-2020" >Continue Reading</a>
          </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->
    
        <aside class="col-md-4 blog-sidebar">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="font-italic">Conceptuality</h4>
            <p class="mb-0 lead">Nothing less than conceptual</p>
          </div>
        </aside><!-- /.blog-sidebar -->
    
      </div><!-- /.row -->
    
    </main><!-- /.container -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
