<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Look out! There’s a New Lyricist in Town!">
    <meta name="keywords" content="Lyri instagram twitter soundbrew facebook artist music blog publication">

    <meta name="twitter:card" value="Look out! There’s a New Lyricist in Town!"> 

    <meta property="og:title" content="5 things to know about Ateleo’s Music Video, JOSE" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.conceptuality.com/atelo-sept-2020" />
    <meta property="og:image" content="http://example.com/image.jpg" />
    <meta property="og:description" content="5Look out! There’s a New Lyricist in Town!"/> 


    <link href="/stylesheets/style.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
     </style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="shortcut icon" href="/images/lyri/lyri.ico" />

    <title>Lyri | Conceptuality</title>
  </head>
  <body>
    <div class="container">
        <header class="blog-header py-3">
          <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
              <a class="text-muted" href="/">Conceptuality</a>
            </div>
            <div class="col-4 text-center">
              <a class="blog-header-logo text-dark" href="#">Lyri</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
            </div>
          </div>
        </header>
        <h1 class="text-center mt-0">Look out! There’s a New Lyricist in Town!</h1>
        <h5 class="text-center mt-0">September 2020</h5>

        <img height="300" width="300" src="/images/lyri/lyri.jpg" class="center rounded" alt="...">
        <br>
        <p>Lyri is a 27 years young female lyricist hailing from Alexandria, Virginia. Her ethnicity is African
            American and Native American. Music was all around her from an early age, due to being
            brought up in church.</p>
        <br>
            <h5>What was it like for you to be signed to UMG for four years?</h5>
            <p>"It was great, they helped
                me establish a solid fan base, and got me well versed with the streaming aspect of music."</p>

            <h5>When would you like to retire?</h5>
            <p>"Retire is such a certain term, I really never want to retire. I
                want to be a part of creating music until I die. But if I have to give an age, 60 will suffice."</p>

            <h5>In the next five years, what would you like to do?</h5>
            <p>"do? In the next 5 years I would have liked
                to reach the billboards, have made multiple hits with big named artists, and made a living
                comfortable enough to feed my family off of the music I make."</p>
          
          <h5>How was the college experience?</h5>
          <p>"College was cool; S/O to FAMU (Go Rattlers!) I met a lot
              of new people and found myself. It made me realize that my life is my own and that other people
              can't make decisions for me when it comes to my dreams."</p>

            <h5>What is something that you’d want to tell your younger self?</h5>
            <p>"Something I'd wanna tell
                my younger self is to take the risk, no matter how much trouble you might get into. Don't let
                people box you in, the earlier you step out there, the faster people will see your talent."</p>

            <h5>How long does it take you to record?</h5>    
            <p>"It doesn't take me long to record at all. I rehearse
                everything before I hit the studio, so when I record, everything is smooth and done in one take."</p>

            <h5>Who is your role model?</h5>    
            <p>"My role model is my mom. She believed in me when nobody else
                did, and seeing what she's gone through and made it out of made me realize and embrace the
                strength that resides in me."</p>

            <h5>What is your favorite album?</h5>    
            <p>"My favorite album...jeez just one? Well, off the top I'd have to
                go with Wayne's Carter 2. It's old, I know, but it's classic and if you don't know about it, give it a
                listen. It's fire."</p>

            <h5>How do you start your day?</h5>    
            <p>"I start my day with a jay and listening to beats, songs I've made,
                or by rehearsing songs I plan to record in the future. I drink a smoothie, or my detox lemonades,
                and I also meditate."</p>

            <h5>Do you have any special talents?</h5>    
            <p>"I can cook really well, and I can sing. Maybe I'll bring that
                out more."</p>

            <nav class="navbar navbar-light bg-light">
                <span class="navbar-text">
                    Conceptuality
                </span>
            </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>