<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Dominic Smith Lacuna Icy">
    <meta name="description" content="Into The Mind of Overlord Bnjmnz">
    <meta name="keywords" content="@overlordbnjmnz @overlordbnjmnz instagram twitter soundbrew facebook artist music blog publication">

    <meta name="twitter:card" value="Into The Mind of Overlord Bnjmnz"> 

    <meta property="og:title" content="Into The Mind of Overlord Bnjmnz" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.conceptionuality.com/overlord-bnjmnz-sept-2020" />
    <meta property="og:image" content="https://www.conceptionuality.com/images/overlordbnjmnz/overlordbnjmnz.ico" />
    <meta property="og:description" content="Into The Mind of Overlordbnjmnz"/> 

    <link href="/stylesheets/style.css" rel="stylesheet">

    <link rel="shortcut icon" href="/images/overlordbnjmnz/overlordbnjmnz.ico" />

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
     </style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <title>Overlord Bnjmnz | Conceptuality</title>
  </head>
  <body>
    <div class="container">
        <header class="blog-header py-3">
          <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 text-center">
              <a class="text-muted" href="/">Conceptuality</a>
            </div>
          </div>
        </header>
        <h1 class="text-center mt-0">Into The Mind of Overlord Bnjmnz</h1>
        <h5 class="text-center mt-0">September 15th, 2020 by Lacuna (<a href="https://www.instagram.com/lacuna.pdf" >@lacuna.pdf</a>)</h5>
        <img height="300" width="300" src="/images/overlordbnjmnz/overlordbnjmnz.jpeg" class="center rounded" alt="...">
        <br>
        <br>
        <h4>What are your goals for next year?</h4>
        <blockquote class="blockquote">
        <p class="mb-0 lead">My goals for next year are to start doing major things... I want to take my music to the next
            level and to be in more professional situations. I definitely want to start doing visuals and
            really upgrading my status as an artist. I also want to increase my support base and build trust
            with my supporters and listeners. I also want to start working with artists that I listen to as a
            fan.</p>
        </blockquote>

        <h4>Do you have any regrets?</h4>
        <blockquote class="blockquote">
        <p class="mb-0 lead">I only regret being so hard on myself other than that no, everything was written and nothing
            can truly stop me from having what's meant for me.</p>
        </blockquote>

        <h4>Would you like to be mainstream or underground?</h4>
        <blockquote class="blockquote">
        <p class="mb-0 lead">I would like to be a mainstream artist. I have nothing against working with big brands and
            labels... I would just rather do it as an independent artist. I would like for people to appreciate
            me and work with me and have respect for my craft rather than want to abuse me or milk me
            for my talents. Some of my favorite artist are underground but I personally want to be as
            successful as I can possibly be with no limits.</p>
        </blockquote>

        <h4>How long have you been an artist for?</h4>
        <blockquote class="blockquote">
        <p class="mb-0 lead">I have been an artist for 5 years but I never really seriously dropped anything until a month
            ago. I just used to make things for fun and post them to SoundCloud and delete them. It
            wasn't until recently that I really saw how far I could go if I just took myself seriously.</p>
        </blockquote>

        <h4>When do you plan on dropping a new album?</h4>
        <blockquote class="blockquote">
        <p class="mb-0 lead">Truthfully I just drop music, I am a firm believer that anything is possible. So I don't worry
            about who's watching me. I just like to be myself and drop whenever I feel like it even if it's
            an impulse. I trust myself a lot more now. I've seen random people blow up off songs they've
            made 4 years ago. I've seen people revive artists that fell off. There truly is no right or wrong
            thing. I 100% plan on capitalizing off that belief and doing what makes me happy as an artist.
            So when an album comes it comes. None of my releases were ever planned. They just sort of
            happened.</p>
        </blockquote>

        <h4>Where do you see yourself in the five years?</h4>
        <blockquote class="blockquote">
        <p class="mb-0 lead">In the next five years I see myself as the biggest artist in the world. I see myself working with
            the people I used to be a fan of. I see myself being prosperous. I believe I have a style and
            personality that is adaptable to any generation. I will be here forever. I see myself doing
            movies, commercials, etc... I see myself owning all my work and being my own boss. I even
            see myself putting others on.</p>
        </blockquote>

        <h4>How would you describe yourself?</h4>
        <blockquote class="blockquote">
        <p class="mb-0 lead">I would describe myself as beautifully chaotic. Though I have a completely unorganized
            way of doing things. It tends to always work out in my favor and appear beautiful to
            people.on the outside watching. I guess I just have that touch. I'm very lucky always have
            been and will be. I would also describe myself as timeless. Though at times I create drama
            out of my own desire for entertainment it always seems to serve me. Like everything else I
            do.</p>
        </blockquote>

        <h4>Who is your role model?</h4>
        <blockquote class="blockquote">
        <p class="mb-0 lead">Drake. That guy is fucking awesome. If I could of had a big brother growing up I would of
            chose Drake. He's just so awesome in so many ways. I remember leaving school to watch
            him on Degrassi and look at him now. A fucking legend.</p>
        </blockquote>

        <h4>How was your high school experience?</h4>
        <blockquote class="blockquote">
        <p class="mb-0 lead">I was virtually never there and when I was, I was disrupting the class with my sarcasm and
            falling in love with every girl I saw. Also I was a prankster so I was always pulling the fire
            alarm and stealing fire hydrants and letting them off in the boys bathroom. I got this game
            called Bully, played it and didn't know how to act. But for the most part I wasn't really there.
            I ended up in homeschool. That's how I graduated. I couldn't stop disrupting the class
            because I can't be still for very long. It's kinda hilarious. I wanted to start a band and date all
            the girls idk I was weird.</p>
        </blockquote>

        <h4>What is your favorite album?</h4>
        <blockquote class="blockquote">
        <p class="mb-0 lead">Take care</p>
        </blockquote>

        <nav class="navbar navbar-light bg-light">
          <span class="navbar-text">
                Conceptuality
            </span>
        </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>